#user {
    height: 100vh;
}

h1 {
    color: #cedbdb;
    font-weight: 600;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    text-shadow: 1px 1px 2px black, 0px 0px 20px black;
}

h3 {
    color: #cedbdb;
    font-weight: 600;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    text-align: left;
    text-shadow: 1px 1px 2px black, 0px 0px 20px black;
}

p {
    color: #cedbdb;
    font-weight: 600;
    text-shadow: 1px 1px 2px black, 0px 0px 20px black;
}
