@media screen and (min-width: 400px) {
    /* размер прокрутки */
    ::-webkit-scrollbar {
        width: 14px;
        height: 14px;
        /* border-left: 1px solid #2121213e; */
    }

    /* Стили полосы прокрутки (большой палец) */
    ::-webkit-scrollbar-thumb {
        background-color: #003756;
        border-radius: 8px;
        border: 2.5px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #1973e2;
    }

    /* Стили дорожки прокрутки */
    ::-webkit-scrollbar-track {
        background-color: #eee;
        /* 	background-color: rgb(129, 130, 134); */
        border-left: 1px solid #2121213e;
    }

    ::-webkit-scrollbar-button:single-button:vertical {
        background-color: rgba(27, 30, 50, 0.15);
        display: block;
        border-style: solid;
        height: 13px;
        max-width: 16px;
    }

    /* Up */
    ::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #555555 transparent;
    }

    ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #1973e2 transparent;
    }

    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
    }

    ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #1973e2 transparent transparent transparent;
    }
    input,
    select {
        color: #fff !important;
        -webkit-text-fill-color: #fff !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;
    }
}

@media screen and (max-width: 450px) {
    .gallery_image_frame_wood_border {
        /* border-image-source: url(https://m.bikli.kz/photos/media/css/border_2.jpg) !important; */
        border-image-slice: 20 !important;
        border-width: 4px !important;
        border-image-width: 4px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .gallery_image_width {
        width: calc(100% - 8px) !important;
        height: calc(100% - 8px) !important;
    }

    .cards_wrappper {
        margin-top: 15px;
    }

    .stat_data_2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: auto;
        text-align: center;
    }

    .card_3 {
        display: none;
    }

    .card_person {
        display: none;
    }

    .ThirdSectionGrid {
        background-image: none;
    }

    .ThirdSectionGridIMG {
        width: 100vh;
        overflow: hidden;
    }

    .stat_data {
        /* width: 200px; */
        height: 100%;
        transition: 0.3s;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
        text-align: center;
    }

    .welcome_section {
        align-items: end;
        align-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .card_1 {
        width: 98%;
        height: 446px;
        margin-top: -223px;
        transition: 0.3s;
        z-index: 2;
        position: relative;
    }

    .stat_data {
        /* width: 200px; */
        height: 100%;
        transition: 0.3s;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
        text-align: center;
    }

    .stat_data_2 {
        /* width: 200px; */
        height: 50%;
        transition: 0.3s;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
        text-align: center;
    }

    .ThirdSectionGridIMG {
        display: none;
    }

    .welcome_section {
        align-items: center;
    }
}

input,
select {
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

img {
    pointer-events: all !important;
}

.select {
    color: #fff; /* Цвет текста */
    background-color: #4a4a4a; /* Цвет фона */
    border: 1px solid #5c7000; /* Цвет и стиль границы */
    border-radius: 4px; /* Закругление углов */
    padding: 10px 15px; /* Внутренние отступы */
    appearance: none; /* Убирает стандартный стиль браузера */
    outline: none; /* Убирает обводку при фокусе */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель для курсора */
    transition: border-color 0.3s, background-color 0.3s; /* Плавный переход */
}

.select:focus {
    border-color: #5c7000; /* Цвет границы при фокусе */
    background-color: #6b6b6b; /* Цвет фона при фокусе */
}
