img {
    pointer-events: all !important;
}

.select {
    color: #fff; /* Цвет текста */
    background-color: #4a4a4a; /* Цвет фона */
    border: 1px solid #5c7000; /* Цвет и стиль границы */
    border-radius: 4px; /* Закругление углов */
    padding: 10px 15px; /* Внутренние отступы */
    appearance: none; /* Убирает стандартный стиль браузера */
    outline: none; /* Убирает обводку при фокусе */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель для курсора */
    transition:
        border-color 0.3s,
        background-color 0.3s; /* Плавный переход */
}

.select:focus {
    border-color: #5c7000; /* Цвет границы при фокусе */
    background-color: #6b6b6b; /* Цвет фона при фокусе */
}
